@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#page{
    background-color: rgb(255, 255, 255);
}

#headerone{
    font-family: 'Worker Sans', 'Sans Serif';
    font-size: 3em;
    margin: 50px 0 0.5em 0px;
}

#headertwo{
    font-family: 'Lato', 'Helvetica Neue';
    color: #60c17d
}

#bodypara{
    font-family: 'Worker Sans', 'Helvetica Neue';
    margin: 50px 0 0 50px
}